.portfolio {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  gap: 3rem;
}

h1 {
  width: 100%;
  font-size: 4rem;
  margin-bottom: 4rem;
  background: rgb(129, 19, 83);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 30px;
}