.main-content {
  background-color: #111;
  flex: 2 1 0;
  border-radius: 10px;
  padding: 3rem;
  justify-content: space-between;
  width: 800px;
  float: right;
}

section {
  display: flex;
  float: left;
  flex-direction: column;
}

h2 {
  color: #fff;
  font-size: 2.2rem;
  margin-bottom: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

p {
  color: #a6a6a6;
    margin-bottom: 1rem;
    line-height: 1.3rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  margin-top: 30px;
}

.projects-container {
  display: flex;
  text-align: justify;
}